body {
    background-image: url("light_honeycomb_2X.png");
    background-repeat: repeat;
  }
  .emojionearea-editor{
    min-height: 0em!important;
  }
  p{
    word-break: break-all;
  }
  .gap{
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .container-editor{
    max-height: 3em;
    display: flex;
    position: relative;
    width: 100%;
  }
  .emojionearea-editor{
    max-height: 6em!important;
    display: flex;
    position: relative;
    width: 100%;
  }
  .gaptop{
    margin-top: 15px;
    margin-bottom: -15px;
  }
  .twoinone{
    display: inline-block;
    vertical-align: top;
  }
.h100px{
    height: 100px;
}
.radius30{
  border: none;
  border-radius: 15px;
}
.dymki-header{
  font-size:0.75em;
  border: none !important;
  padding: 0.5em!important;
  padding-bottom: 0px!important;
}
.dymki-wyslane,.dymki-odebrane{
  padding: 1px 5px 1px 5px !important;
  border: none !important;  
}
.dymki-wyslane{
  background-color: darkgrey;
  align-items: flex-end;
}
.dymki-odebrane{
  background-color: gray;
  align-items: flex-start;
}
.shadow{
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.padd{
  padding:0.75em;
  min-height: 300px;
  max-height: 70vh;
}
.dymki-group{
  overflow-y: auto;
  margin-bottom: 4.2em;
}
.formmsg{
  z-index: 1000;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
